<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

<property name="logPath" value="${catalina.home}/logs"></property>
<property name="maxHistory" value="30"/> 

<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
<encoder>
<patter>%d{HH:mm:ss.SSS} [%-5level] %logger{36} -%msg%n</patter>
</encoder>
</appender>

<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<fileNamePattern>${logPath}/log.%d{yyyy-MM-dd}.log</fileNamePattern>
<maxHistory>${maxHistory}</maxHistory>
</rollingPolicy>
<encoder>
<pattern>%d{HH:mm:ss.SSS} [%thread] [%-5level] [%logger{36}.%M] [%-5line]- %m%n </pattern>
<charset>UTF-8</charset>
</encoder>
<!--    可以过滤成仅记录debug级别的日志（不包括info，error）    
		 <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter> 
-->
</appender>

    <!--打印mybatis的SQL语句-->
    <logger name="com.ibatis" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
    <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
    <logger name="java.sql.Connection" level="DEBUG" />
    <logger name="java.sql.Statement" level="DEBUG" />
    <logger name="java.sql.PreparedStatement" level="DEBUG" />
    
    <!-- addtivity表示是否将打印信息向上传递，默认为true -->
<root level="debug">  
    <appender-ref ref="console"/>   
    <appender-ref ref="file"/>  
</root>  
</configuration>

<!-- pattern中转换符说明：
%logger{x},%class{x} : 表示类名或全类名,x为0表示类名，无"{x}"表示全类名
%d : 日期
%line : 行号
%m，%msg : 应用程序提供的信息
%M : 方法名
%n : 换行
%level : 输出日志级别
%relative : 输出从程序启动到创建日志记录的时间，单位是毫秒
%thread : 产生日志的线程名
%replace(P){r,t} : p 为日志内容，r 是正则表达式，将p 中符合r 的内容替换为t 例如， "%replace(%msg){'\s', ''}"
 -->
